<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nemo tenetur officia quidem in cumque eveniet ducimus, officiis deserunt voluptatem ipsa magni, cum eum consectetur suscipit. Beatae consectetur officia hic!</p>
    </div>
    {{>footer}}
    <script src="/js/main.js"></script>
</body>
</html>